* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

nav {
  height: 70px;
  background-color: #4485ff;
  display: flex;
  align-items: center;
  gap: 4em;
  padding: 0 1em;
}

h1 {
  color: #fff;
}

ul {
  display: flex;
  list-style: none;
  gap: 2em;
}

a {
  text-decoration: none;
  color: #181864;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover {
  color: #ffce00;
}
